<div class="bookings-row">
  <h2>{{ title }}</h2>

  <div class="cards-container">
    <p-card 
      *ngFor="let booking of bookings; let i = index" 
      class="booking-card"
      (click)="onBookingClick(booking)">
      
      <ng-template pTemplate="header">
        <img [src]="defaultImage" alt="{{ getEventName(booking, i) }}" class="booking-img" />
      </ng-template>

      <ng-template pTemplate="title">
        {{ getEventName(booking, i) }}
      </ng-template>

      <ng-template pTemplate="subtitle">
        <div class="booking-info">
          <div class="show-details">
            <span class="show-date">{{ formatDate(getShowDate(booking)) }}</span>
            <span class="show-time">{{ getShowTime(booking) }}</span>
          </div>
          <div class="venue-location">
            {{ getVenueName(booking) }}, {{ getVenueCity(booking) }}
          </div>
        </div>
      </ng-template>

    </p-card>
  </div>
</div>
