<div class="events-row">
  <div class="cards-container">
    <p-card 
      *ngFor="let event of events" 
      class="event-card"
      (click)="onEventClick(event)">
      
      <ng-template pTemplate="header">
        <img [src]="defaultImage" alt="{{ event.name }}" class="event-img" />
      </ng-template>

      <ng-template pTemplate="title">
        {{ event.name }}
      </ng-template>

      <ng-template pTemplate="subtitle">
        {{ event.artist_names && event.artist_names.length ? event.artist_names.join(', ') : 'Unknown' }}
      </ng-template>
    </p-card>
  </div>
</div>
