<div class="login-page">

  <div class="left-side">
    <app-auth-layout></app-auth-layout>
  </div>

  <div class="right-side">
    <div class="brand">
    <div class="brand-name">EVENTRO </div>
    <p class="caption">Your gateway to amazing events</p>
    </div>
    
    <div class="login-form">
      <h2>Welcome Back</h2>
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        
        <div class="form-field">
          <span class="p-input-icon-left">
            <i class="pi pi-envelope"></i>
            <input 
              type="email"
              pInputText 
              [(ngModel)]="email" 
              name="email" 
              placeholder="Email" 
              required 
              email 
              #emailModel="ngModel"
              class="w-full" />
          </span>
          <div class="error" *ngIf="emailModel.invalid && emailModel.touched">
            Invalid email address
          </div>
        </div>

        <div class="form-field">
          <p-password 
            [(ngModel)]="password" 
            name="password" 
            placeholder="Password" 
            required
            [toggleMask]="true"
            [feedback]="false"
            inputStyleClass="w-full"
            styleClass="w-full">
          </p-password>
        </div>

        <div class="error login-error" *ngIf="loginError">
          Invalid credentials
        </div>

        <p-button 
          type="submit" 
          label="{{ loading ? 'Please wait...' : 'Login' }}"
          [disabled]="loading || loginForm.invalid"
          [loading]="loading"
          styleClass="w-full login-btn">
        </p-button>

        <p class="signup-link">New user? <a routerLink="/signup">Sign up Here</a></p>
      </form>
    </div>
  </div>

</div>
