<header class="header">
  <div class="left-section">
    <div class="logo">Eventro</div>

    <app-search-bar></app-search-bar>

    <p-dropdown
      [options]="locations"
      [(ngModel)]="selectedLocation"
      optionLabel="label"
      placeholder="Select Location"
      class="location-dropdown"
    ></p-dropdown>
  </div>

  <div class="right-section">
    <span class="username">{{ username }}</span>
    <p-button
      label="Logout"
      icon="pi pi-sign-out"
      severity="danger"
      size="small"
      (onClick)="onLogout()"
    >
    </p-button>
  </div>
</header>

<nav class="pill-navbar">
  <a
    *ngFor="let item of navItems"
    [routerLink]="item.path"
    [class.active]="isRouteActive(item.path)"
    >{{ item.label }}</a
  >
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
