<p-dialog
  header="Add New Venue"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '40vw' }"
  (onHide)="close()"
  [closable]="false"
>
<form (ngSubmit)="submit(addVenueForm)" #addVenueForm="ngForm" class="add-venue-form">

  <div class="form-field">
    <label for="venueName">Name</label>
    <input 
      type="text"
      pInputText
      [(ngModel)]="newVenue.name"
      name="name"
      id="venueName"
      #nameCtrl="ngModel"
      required
      autocomplete="off"
    />
    <div class="error-slot">
      <small class="error-message" *ngIf="nameCtrl.invalid && nameCtrl.touched">
        Name can't be empty.
      </small>
    </div>
  </div>

  <div class="form-field">
    <label for="venueCity">City</label>
    <input 
      type="text"
      pInputText
      [(ngModel)]="newVenue.city"
      name="city"
      id="venueCity"
      #cityCtrl="ngModel"
      required
      autocomplete="off"
    />
    <div class="error-slot">
      <small class="error-message" *ngIf="cityCtrl.invalid && cityCtrl.touched">
        City can't be empty.
      </small>
    </div>
  </div>

  <div class="form-field">
    <label for="venueState">State</label>
    <input 
      type="text"
      pInputText
      [(ngModel)]="newVenue.state"
      name="state"
      id="venueState"
      #stateCtrl="ngModel"
      required
      autocomplete="off"
    />
    <div class="error-slot">
      <small class="error-message" *ngIf="stateCtrl.invalid && stateCtrl.touched">
        State can't be empty.
      </small>
    </div>
  </div>

  <div class="dialog-actions">
    <button 
      pButton 
      label="Cancel"
      class="p-button-text"
      type="button"
      (click)="close()">
    </button>

    <button 
      pButton 
      label="Submit"
      class="p-button-success"
      type="submit"
      [disabled]="addVenueForm.invalid">
    </button>
  </div>
</form>
</p-dialog>