<div class="search-container">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="Search events..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      class="search-input"
      #searchInput
    />
  </span>

  <div class="search-dropdown" *ngIf="isFocused || showResults">
    <!-- <div class="category-chips" *ngIf="isFocused || searchQuery.trim()">
      <span
        *ngFor="let c of categories"
        class="chip"
        [class.active]="selectedCategory === c.value"
        (click)="selectCategory(c.value)"
      >
        {{ c.label }}
      </span>
    </div> -->

    <div class="search-results" *ngIf="showResults">
      <div
        *ngFor="let searchEvent of searchResults"
        class="result-item"
        (pointerdown)="onResultsPointerDown()"
        (click)="selectEvent(searchEvent)"
      >
        <span>{{ searchEvent.name | titlecase }}</span>
        <i
          class="pi"
          [ngClass]="{
            'pi-video': searchEvent.category === 'movie',
            'pi-flag': searchEvent.category === 'sports',
            'pi-microphone': searchEvent.category === 'concert',
            'pi-briefcase': searchEvent.category === 'workshop',
            'pi-glass': searchEvent.category === 'party'
          }"
        ></i>
      </div>
    </div>
  </div>
</div>
